
[pull]
    ff = only
[push]
    default = simple
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[core]
    autocrlf = input
[alias]
    tree = log --graph --decorate --all --oneline
[user]
	name = Oscar Lundqvist
	email = o@olq.se
[hub]
	protocol = ssh

[color]
        ui = always
  diff = always
  status = auto
  branch = auto
  interactive = auto
  pager = true

[color "status"]
  added = green
  changed = red bold
  untracked = magenta bold

[color "branch"]
  remote = yellow
