[pull]
[push]
    default = simple
#[diff]
#   external = meld
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[core]
    autocrlf = input
[pull]
	ff = only
[alias]
    tree = log --graph --decorate --all --oneline
[user]
	name = Oscar Lundqvist
	email = o@olq.se
[hub]
	protocol = ssh
